<!DOCTYPE html>
<html>
<head>
    <title>G-fetch</title>
  <link href="{{ url_for('static', filename='css/tailwind.css') }}" rel="stylesheet">
</head>
<body>
    <h1>Welcome to G-fetch!</h1>
    <p>Here you can back up your Gmail correspondence.</p>
    <form method="POST">
        <label for="email_address">Enter the email address of your correspondent:</label>
        <input type="email" id="email_address" name="email_address" required>
        <button type="submit">Fetch Emails</button>
    </form>
    <form method="POST" action="{{ url_for('delete_files') }}">
      <button type="submit">Delete downloaded files</button>
    </form>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
</body>
</html>