<!DOCTYPE html>
<html>
<head>
    <title>G-fetch</title>
</head>
<body>
    <h1>Welcome to G-fetch!</h1>
    <form method="POST">
        <label for="email_address">Enter the gmail address whose correspondence you want to back up:</label>
        <input type="email" id="email_address" name="email_address" required>
        <button type="submit">Fetch Emails</button>
    </form>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
</body>
</html>